@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* ----------Sidebar icons---------- */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' -25,
    'opsz' 40
}

:root {
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
}

* {
    margin:0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    width: 100vw;
    height: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-image: linear-gradient(45deg, #6196bf, #eaebed, #a4c2d4);
    user-select: none;
    overflow-x: hidden;
}

.container {
    display: grid;
    position: absolute;
    width: 96%;
    gap: 5rem;
    grid-template-columns:15rem auto 34rem;
    border-radius: 1.2rem;
    height:80%;
}

a {
    color: rgb(140, 129, 129);
}

img {
    display: block;
    width: 100%;
}

/* .profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
} */

.text-muted {
    color: rgb(140, 129, 129);
    word-spacing: 20px;
}

p {
    color: rgb(115, 157, 191);
}

b {
    color: darkcyan;
}

aside {
    border-radius: 1.5rem;
    background: white;
    
}

aside.top {
    display: flex;
    align-items: center;
}

aside .logo {
    display: flex;
}

aside .logo img {
    margin-top: 4rem;
    width: 15rem;
    height: 5rem;
}

aside .close {
    display: none;
}

/* ------------Sidebar------------*/
aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 50vh;
    position: relative;
    top: 0.2rem;
     margin-left: 10px;
}

aside h2 {
    font-weight: 500;
    font-size: 1rem;
}

aside .sidebar a {
    display: flex;
    margin: 1rem;
    align-items: center;
    position: relative;
    height: 3.8rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    transition: all 300ms ease;
}

aside .sidebar a:hover {
    color: rgb(140, 129, 129);
    margin-left: 2rem;
    width: 150px;
    height:80px;
    border-radius: 0.8rem;
}

/* aside .sidebar .message-count {
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
} */


/* ---------------Main-------------*/
main {
    display:flex;
    margin-top: 1.2rem;
    border-radius: 20px;
    padding: 1rem 1rem; 
}

main .date {
    position: absolute;
    display: inline-block;
    border:1px solid rgb(102 105 108);;
    border-radius: 1rem;
    margin-top: 3rem;
    padding: 0.5rem;
    width: 12rem;
}

main .date input {
    background: transparent;
    color: rgb(102 105 108);
}

main .insights {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    border-radius: 1rem;
    margin-bottom: 22rem;
}

main .insights > div {
    background: white;
    padding:2rem;
    border-radius: 1.2rem;
    height: 250px;
    width: 450px;
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div .middle {
    background: white;
    padding: 1.2rem;
}

main .insights > div .expenses .middle {
    background: lightgrey;
}

main .insights > div .income .middle {
    background: lightgrey;
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    color: rgb(140, 129, 129);
    letter-spacing: 0.5px;
    margin-bottom: 75px;
    font-size: 14px;
    font-weight: 500;
}

main .insights .progress {
    position:relative;
    width: 110px;
    height: 100px;
}

main .insights h1 {
   font-size:2.8rem;
    margin-top: 4rem;
    font-weight: 200;
}

main .insights .progress .number p {
    text-align:left;
    font-size:10px;
    
}

main .insights small {
    margin-top: 3.5rem;
    display:block;
    margin: 10px;
    font-size:12px;
}

main .insights .left {
     display: flex;
    align-items: center;
    justify-content: center;
}


/*---------------Tasks--------------*/
main .recent-tasks {
    margin-top: 30rem;
    position: absolute;
    background: white;
    padding:2rem;
    border-radius: 1.2rem;
    height: 30rem;
    width: 115rem;
}

main .recent-tasks h2 {
    margin-bottom: 0.8rem;
    margin-left: 12px;
    color: rgb(140, 129, 129);
    font-weight: 400;
    font-size: 14px;
}

main .recent-tasks table {
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var( --card-padding);
    text-align: center;
    box-shadow:rgb(102 105 108);
    transition: all 300ms ease;
}

main .recent-tasks table:hover {
    box-shadow: none;
}

.recent-tasks table tbody {
    align-items: center;
    text-align: center;
}

.recent-tasks table tbody td {
    height: 3.8rem;
    border-bottom: 0.5px solid  rgb(140, 129, 129);
    color: black;
    padding: 1px 40px;

}

main table tbody tr:last-child td {
    border: none;
}

main .recent-tasks a {
    text-align: center;
    display: block;
    margin: 1rem auto;

}